---
fullnameOverride: argocd-{{ environment }}
configs:
  params:
    server.insecure: true
server:
  secret:
    argocdServerAdminPassword: "{{ argocdAdminPassword }}"
  service:
    type: NodePort
redis:
  serviceAccount:
    create: true
