---
rollOutCiliumPods: true
hubble:
  enabled: false
ipam:
  mode: kubernetes
ipv6:
  enabled: true
bpf:
  hostLegacyRouting: false
kubeProxyReplacement: strict
kubeProxyReplacementHealthzBindAddr: "0.0.0.0:10256"
k8sServiceHost: {{ k0s.apiLoadBalancer }}
k8sServicePort: 6443
prometheus:
  enabled: true
operator:
  replicas: 1
  rollOutPods: true
  prometheus:
    enabled: true
preflight:
  enabled: false
