---
extends: default

ignore:
  - Pulumi*.yaml
  - node_modules/
  - .github/
  - .pre-commit-config.yaml
  - .golangci.yml
  - outputs/
  - cluster-bootstrap/**/flux-system/gotk-components.yaml
  - .pre-commit-config.yaml

rules:
  line-length:
    max: 180
