---
all:
  vars:
    ansible_user: {{ username }}
    ansible_become: true
    ansible_become_user: root
    ansible_python_interpreter: /usr/bin/python3
    ansible_ssh_private_key_file: outputs/ssh.key
    ufw_enabled: {{ ufw.enabled }}
    ufw_rules:
      # k0s
      # https://docs.k0sproject.io/v1.27.1+k0s.0/networking/?h=port#required-ports-and-protocols
      - comment: k0s API
        port: "9443"
        proto: tcp
        rule: allow
      - comment: k0s konnectivity
        port: "8132"
        proto: tcp
        rule: allow
      # Kubernetes
      # https://kubernetes.io/docs/reference/networking/ports-and-protocols/
      - comment: Kubernetes API Server
        port: "6443"
        proto: tcp
        rule: allow
      - comment: Kubelet API
        port: "10250"
        proto: tcp
        rule: allow
      - comment: kube-scheduler
        port: "10259"
        proto: tcp
        rule: allow
      - comment: kube-controller-manager
        port: "10257"
        proto: tcp
        rule: allow
      - comment: etcd Server
        port: 2379:2380
        proto: tcp
        rule: allow
      - comment: NodePort Services TCP
        port: 30000:32767
        proto: tcp
        rule: allow
      - comment: NodePort Services UDP
        port: 30000:32767
        proto: udp
        rule: allow
      # Kubespray Kubernetes
      - comment: Kubelet Health
        port: "10248"
        proto: tcp
        rule: allow
      - comment: CoreDNS Metrics
        port: "9253"
        proto: tcp
        rule: allow
      - comment: node-cache
        port: "9254"
        proto: tcp
        rule: allow
      # Calico
      - comment: Calico VXLAN Overlay
        port: "4789"
        proto: udp
        rule: allow
      # Cilium
      # https://docs.cilium.io/en/v1.11/operations/system_requirements/#firewall-rules
      - comment: Cilium VXLAN Overlay
        port: "8472"
        proto: udp
        rule: allow
      - comment: Cilium Health Checks
        port: "4240"
        proto: tcp
        rule: allow
      - comment: Cilium Hubble Server
        port: "4244"
        proto: tcp
        rule: allow
      - comment: Cilium Hubble Relay
        port: "4245"
        proto: tcp
        rule: allow
      - comment: Cilium pprof Server
        port: 6060:6062
        proto: tcp
        rule: allow
      - comment: Cilium Operator Prometheus Metrics
        port: "6942"
        proto: tcp
        rule: allow
      - comment: Cilium Agent Health Status
        port: "9879"
        proto: tcp
        rule: allow
      - comment: Cilium gops Server
        port: 9890:9893
        proto: tcp
        rule: allow
      - comment: Cilium Wireguard
        port: "51871"
        proto: udp
        rule: allow
      # Longhorn
      - comment: NFS
        name: NFS
        rule: allow
      - comment: iSCSI
        port: "3260"
        proto: tcp
        rule: allow
      # DNS
      - comment: DNS
        name: DNS
        rule: allow
      # DHCP
      - comment: DHCPv4
        port: "67"
        proto: udp
        rule: allow
      - comment: DHCPv6
        port: "547"
        proto: udp
        rule: allow
      # HTTP/S
      - comment: HTTP
        name: WWW
        rule: allow
      - comment: HTTPS
        name: WWW Secure
        rule: allow
      - comment: Traefik Dashboard
        port: "9000"
        proto: tcp
        rule: allow
      # MQTT/S
      - comment: MQTT
        port: "1883"
        proto: tcp
        rule: allow
      - comment: MQTTS
        port: "8883"
        proto: tcp
        rule: allow
      # MetalLB
      - comment: MetalLB Speaker
        port: "7472"
        proto: tcp
        rule: allow
      - comment: MetalLB Speaker Member List TCP
        port: "7946"
        proto: tcp
        rule: allow
      - comment: MetalLB Speaker Member List UDP
        port: "7946"
        proto: udp
        rule: allow
      # Monitoring
      - comment: NodeExporter
        port: "9100"
        proto: tcp
        rule: allow
      # BGP
      - comment: kube-router BGP
        port: "179"
        proto: tcp
        rule: allow
  hosts:
{%- for node in clusterNodes %}
    {{ node.hostname }}:
      ansible_host: {{ node.ipv4Address }}
{%- endfor %}
