{{- if .gates.CoralTPU }}
---
apiVersion: v1alpha1
kind: PCIDriverRebindConfig
name: 0000:05:00.0
targetDriver: vfio-pci
{{- end }}
---
version: v1alpha1
debug: false
persist: true
machine:
  type: controlplane
  token: {{ .secrets.Trustdinfo.Token }}
  ca:
    crt: {{ .secrets.Certs.Os.Cert }}
    key: {{ .secrets.Certs.Os.Key }}
  certSANs: []
  # certSANs:
  #   - {{ .talos.Machine.Network.IP.V4 }}
  #   - {{ .talos.Machine.Network.IP.V6 }}
  #   - {{ .talos.Cluster.VIP }}
  kubelet:
    # renovate: datasource=github-releases packageName=siderolabs/kubelet
    image: ghcr.io/siderolabs/kubelet:v1.35.1
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraArgs:
      rotate-server-certificates: true
    # nodeIP:
    #   validSubnets:
    #     - {{ .talos.Machine.Network.IP.V4 }}/{{ .network.IPv4.CIDRMask }}
    #     - {{ .talos.Machine.Network.IP.V6 }}/{{ .network.IPv6.CIDRMask }}
  network:
    hostname: {{ .talos.Machine.Hostname }}
    nameservers:
{{- range .network.Nameservers }}
      - {{ . }}
{{- end }}
    interfaces:
      - deviceSelector:
          hardwareAddr: "{{ .talos.Machine.Network.MAC }}"
        dhcp: false
        mtu: 1500
        addresses:
          - {{ .talos.Machine.Network.IP.V4 }}/{{ .network.IPv4.CIDRMask }}
          - {{ .talos.Machine.Network.IP.V6 }}/{{ .network.IPv6.CIDRMask }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ .network.IPv4.Gateway }}
          - network: ::/0
            gateway: {{ .network.IPv6.Gateway }}
        # vip:
        #   ip: {{ .talos.Cluster.VIP }}
    kubespan:
      enabled: false
  # disks:
  #   - device: /dev/sdb
  #     partitions:
  #       - mountpoint: /var/mnt/extra
  #     registries: {}
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:admin
      allowedKubernetesNamespaces:
        - kube-system
        - talos-system
  # configuration for the installer and kernel/extensions:
  # - hardware type: bare metal
  # - machine architecture: amd64
  # - secure boot: off
  # - extensions:
  #    - binfmt-misc
  #    - btrfs
  #    - drbd
  #    - fuse3
  #    - gasket-driver # only for coral
  #    - i915
  #    - intel-ucode
  #    - iscsi-tools
  #    - nvidia-container-toolkit-production # only for nvidia
  #    - nvidia-open-gpu-kernel-modules-production # only for nvidia
  #    - thunderbolt
  #    - util-linux-tools
  # - extra kernel arguments: intel_iommu=on iommu=pt
  install:
    disk: {{ .talos.Machine.Disk }}
    # renovate: datasource=github-releases packageName=siderolabs/talos
    image: factory.talos.dev/metal-installer/{{ .talos.Cluster.InstallImageHash }}:v1.12.4
    wipe: true
  kernel:
    modules:
      - name: binfmt_misc
      - name: btrfs
      - name: thunderbolt
      - name: thunderbolt_net
      - name: usbserial
      - name: vfio_pci
      - name: vfio_iommu_type1
      - name: uio_pci_generic
{{- if .gates.Nvidia }}
      - name: nvidia
        parameters:
          - NVreg_OpenRmEnableUnsupportedGpus=1
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
        parameters:
          - NVreg_OpenRmEnableUnsupportedGpus=1
{{- end }}
{{- if .gates.CoralTPU }}
      - name: gasket
      - name: apex
{{- end }}
  sysctls:
    net.core.bpf_jit_harden: 1
    vm.max_map_count: 131060
    net.ipv6.conf.all.accept_ra: 2
cluster:
  id: {{ .secrets.Cluster.Id }}
  secret: {{ .secrets.Cluster.Secret }}
  controlPlane:
    endpoint: https://{{ .talos.Machine.Network.IP.V4 }}:6443
  clusterName: {{ .clusterName }}-cluster
  network:
    dnsDomain: cluster.local
    podSubnets:
      - {{ .talos.Cluster.Network.PodSubnets.V4 }}
      - {{ .talos.Cluster.Network.PodSubnets.V6 }}
    serviceSubnets:
      - {{ .talos.Cluster.Network.ServiceSubnets.V4 }}
      - {{ .talos.Cluster.Network.ServiceSubnets.V6 }}
    cni:
      name: none
  proxy:
    disabled: true
  token: {{ .secrets.Secrets.BootstrapToken }}
  secretboxEncryptionSecret: {{ .secrets.Secrets.SecretboxEncryptionSecret }}
  ca:
    crt: {{ .secrets.Certs.K8s.Cert }}
    key: {{ .secrets.Certs.K8s.Key }}
  aggregatorCA:
    crt: {{ .secrets.Certs.K8sAggregator.Cert }}
    key: {{ .secrets.Certs.K8sAggregator.Key }}
  serviceAccount:
    key: {{ .secrets.Certs.K8sServiceAccount.Key }}
  apiServer:
    # renovate: datasource=github-releases packageName=siderolabs/kubelet
    image: registry.k8s.io/kube-apiserver:v1.35.1
    certSANs:
      - {{ .talos.Machine.Network.IP.V4 }}
      - {{ .talos.Machine.Network.IP.V6 }}
    #   - {{ .talos.Cluster.VIP }}
    disablePodSecurityPolicy: true
    admissionControl: []
      # - name: PodSecurity
      #   configuration:
      #     apiVersion: pod-security.admission.config.k8s.io/v1alpha1
      #     defaults:
      #       audit: restricted
      #       audit-version: latest
      #       enforce: baseline
      #       enforce-version: latest
      #       warn: restricted
      #       warn-version: latest
      #     exemptions:
      #       namespaces:
      #         - kube-system
      #       runtimeClasses: []
      #       usernames: []
      #     kind: PodSecurityConfiguration
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
  controllerManager:
    # renovate: datasource=github-releases packageName=siderolabs/kubelet
    image: registry.k8s.io/kube-controller-manager:v1.35.1
    extraArgs:
      bind-address: 0.0.0.0
  scheduler:
    # renovate: datasource=github-releases packageName=siderolabs/kubelet
    image: registry.k8s.io/kube-scheduler:v1.35.1
    extraArgs:
      bind-address: 0.0.0.0
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: false
      service:
        disabled: false
  etcd:
    ca:
      crt: {{ .secrets.Certs.Etcd.Cert }}
      key: {{ .secrets.Certs.Etcd.Key }}
    # advertisedSubnets:
    #   - {{ .talos.Machine.Network.IP.V4 }}/{{ .network.IPv4.CIDRMask }}
    #   - {{ .talos.Machine.Network.IP.V6 }}/{{ .network.IPv6.CIDRMask }}
  extraManifests: []
  inlineManifests: []
  allowSchedulingOnControlPlanes: true
