#! /bin/sh

set -e

# wait for all files to exist
while [ ! -f ./outputs/{{ environment }}/secrets.yaml ]; do sleep 5; done

# generate talosconfig
talosctl gen config --with-secrets ./outputs/{{ environment }}/secrets.yaml --output-types talosconfig -o - cluster https://cluster.talos.local > ./outputs/{{ environment }}/talosconfig.tmp
talosctl --talosconfig ./outputs/{{ environment }}/talosconfig.tmp config endpoint {{ endpoint }}
talosctl --talosconfig ./outputs/{{ environment }}/talosconfig.tmp config node {{ endpoint }}
