---
name: Update Flux

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check for Update
    strategy:
      max-parallel: 12
      matrix:
        site:
          - vie

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - uses: fluxcd/flux2/action@5759d084738d9f463cd6bbb2fa58e964c1d84d96 # main

      - id: update
        run: |
          flux install \
            --components source-controller,kustomize-controller,helm-controller,notification-controller \
            --cluster-domain cluster.local \
            --export > ./cluster-bootstrap/${{ matrix.site }}/flux-system/gotk-components.yaml

          VERSION="$(flux -v)"
          echo "flux_version=$VERSION" >> $GITHUB_OUTPUT

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          branch: chore/update-flux
          delete-branch: true
          commit-message: "chore(deps): update flux to ${{ steps.update.outputs.flux_version }}"
          title: "[Flux] Update Flux to ${{ steps.update.outputs.flux_version }}"
          body: |
            Updates Flux to ${{ steps.update.outputs.flux_version }}.

            Changelog: https://github.com/fluxcd/flux2/releases/tag/${{ steps.update.outputs.flux_version }}
          committer: GitHub <noreply@github.com>
          author: ${{ github.action }} <${{ github.action }}+github-actions[bot]@users.noreply.github.com>
